{% extends 'base.html.twig' %}
{% block head %}
	<link href="css/style.css" rel="stylesheet">
	<script src="https://kit.fontawesome.com/cdb85cab25.js" crossorigin="anonymous"></script>

{% endblock %}
{% block content %}
	<body class="profile-page">
		<div class="page-header"></div>
		<div class="container main main-raised mb-5">
			<div class="row justify-content-center">
				<div class="col-md-9 mb-5">
					<div class="profile">
						{% if user.getProfilPicture() %}
							<div class="avatar">
								<img src={{ user.getProfilPicture() }}>
							</div>
							<div class="name">
							{% else %}
								<div class="mt-2">
								{% endif %}
								<button class="btn-outline-primary btn m-2">
									Modifier photo de profil
								</button>
								<h1 class="title">{{ user.getName() }}</h1>
								<h4>{{ date('now').diff(user.getBirth()).format('%y ans') }}</h4>
							</div>
						</div>
						<div class="description text-center">
							<form action="{{ path('modification_profil') }}?action=description" method="post">
								<input type="textarea" name="_description" class="form-control" rows="3" value="{{ user.getDescription() }}"/>
								<input type="submit" class="btn-outline-primary btn m-2" value="Modifier description"/>
							</form>
				</div>
			</div>

			<div class="col-md-6 mb-5">
					<h3 class="card-title text-center">Amis</h3>
					<ul class="list-group">
					{% for ami in user.getFriends %}
						<li class="list-group-item">{{ ami.getName() }}</li>
					{% endfor %}
					</ul>
			</div>

			<div class="col-md-9 mb-5">
				<div>
					<h3 class="card-title text-center">Images</h3>
				</div>
				<div class="card carousel-card">
					<div
						id="demo" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ul class="carousel-indicators">
							{% for picture in pictures %}
								<li data-target="#demo" data-slide-to={{ loop.index - 1 }} {% if loop.index == 1 %} class="active" {% endif %}>
								{% endfor %}
							</ul>

							<!-- The slideshow -->
							<div class="carousel-inner">
								{% for picture in pictures %}
									<div {% if loop.index == 1 %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
										<img src={{ picture.getPath() }}>
									</div>
								{% endfor %}
							</div>

							<!-- Left and right controls -->
							<a class="carousel-control-prev" href="#demo" data-slide="prev">
								<span class="carousel-control-prev-icon"></span>
							</a>
							<a class="carousel-control-next" href="#demo" data-slide="next">
								<span class="carousel-control-next-icon"></span>
							</a>
						</div>
						<button class="btn-outline-primary btn m-2">
							Ajouter photo
						</button>
					</div>
				</div>

				<div class="col-md-9 mb-5">
					<div class="row justify-content-center">
						{% for name, hobbis in categories %}
						    <div class="col-md-4 mb-5">
							<div class="card mb-2 text-center">
								<div class="card-body">
									<h3 class="card-title text-center">{{ name }}</h3>
										{% for hobbi in hobbis %}
												<!-- REMOVE FORM -->
												<form action="{{ path('modification_profil') }}?action=remove_{{ name }}" method="post">
													{{ hobbi.getName() }}
													<input name="_name" type="hidden" value="{{ hobbi.getName() }}">
													<button type="submit" class="btn-outline-primary btn m-2">
														<i class="fas fa-trash"></i>
													</button>
												</form>
										{% endfor %}
											<!-- ADD FORM -->
											<form action="{{ path('modification_profil') }}?action=add_{{ name }}" method="post">
												<input type="text" class="form-control" name="_name" placeholder="{{ name }}" required>
												<input type="submit" class="btn-outline-primary btn m-2" value="Ajouter"/>
											</form>
								</div>
							</div>
							</div>
						{% endfor %}

						{% for categorie in others_categories %}
							<div class="col-md-4 mb-5">
							<div class="card mb-2 text-center">
								<div class="card-body">
									<h3 class="card-title text-center">{{ categorie.getName() }}</h3>
									<ul class="list-group">
										<li class="list-group-item">
											<!-- ADD FORM -->
											<form action="{{ path('modification_profil') }}?action=add_{{ categorie.getName() }}" method="post">
												<input type="text" class="form-control" name="_name" placeholder="{{ categorie.getName() }}" required>
												<input type="submit" class="btn-outline-primary btn m-2" value="Ajouter"/>
											</form>
										</li>
									</ul>
								</div>
							</div>
							</div>
						{% endfor %}

						<!--<div class="card mb-2 text-center">
							<div class="card-body">
								<h3 class="card-title text-center">
									<i>Ajouter une catégorie</i>
								</h3>
								<select class="form-control">
									{% for categorie in others_categories %}
										<option>{{ categorie.getName() }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="card-footer"/>
							<button class="btn-outline-primary btn m-2">
								Ajouter cette catégorie
							</button>
						</div>-->
					</div>
				</div>
			</div>
		</body>
	</body>
</body></body></div></body>{% endblock %}
