{% extends 'base.html.twig' %}
{% block head %}
	<link href="css/style.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="author" hidden><p id="{{app.user.getId()}}">{{app.user.getName}}</p></div>
<div id="receiver" class="text-center"><p id="{{receiver.getId()}}"><strong>{{receiver.getName()}}</strong>
</p></div>
<div class="d-flex justify-content-center">
	<scroll-container id="messages">
		{% for message in messages %}
			<scroll-page class="
			{% if message.getAuthor().getId()==app.user.getId() %}
				my-message
			{% else %}
				other-message
			{% endif %}
			" id="{{ message.getId() }}"> {{ message.getAuthor().getName() }} : {{ message.getMessage() }}</scroll-page>
		{% endfor %}
	</scroll-container>
</div>
<form id="form" class="d-flex justify-content-center message-form" method="POST" action="traitement"><br />
				<textarea class="input-message" name="message" id="message" required></textarea><br />
				<input type="submit" name="submit" value="Envoyez votre message !" id="envoi" />
</form>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="js/script.js" ></script>
{% endblock %}
