{% extends 'base.html.twig' %}
{% block content %}
	<div class="bg"></div>
	<div class="col-md-5 mx-auto">
		<div class="card">
			<header class="card-header">
				<h4 class="card-title mt-2">Inscription</h4>
			</header>
			<article class="card-body p-5">
				{% if form_errors(form) %}
					<div class="form-error">
						{{ form_errors(form) }}
					</div>
				{% endif %}
				
				<form action="{{ path('inscription') }}" method="post">
					<div class="form-row">
						<div class="col form-group">
							<div class="form-error">
								{{ form_errors(form.forename) }}
							</div>
							{{ form_label(form.forename) }}
							{{ form_widget(form.forename) }}
						</div>
						<div class="col form-group">
							<div class="form-error">
								{{ form_errors(form.name) }}
							</div>
							{{ form_label(form.name) }}
							{{ form_widget(form.name) }}
						</div>
					</div>

                    <div class="selection"/>
						<div class="col text-center">
							{{ form_label(form.sex) }}
							{{ form_widget(form.sex, { 'attr': { 'class': 'm-2 form-secondary' } }) }}
						</div>
						<div class="col text-center">
							{{ form_label(form.preference) }}
							{{ form_widget(form.preference, { 'attr': { 'class': 'm-2 form-secondary' } }) }}
						</div>
                    </div>

					<div class="form-group">
						<div class="form-error">
							{{ form_errors(form.mail) }}
						</div>
						{{ form_label(form.mail) }}
						{{ form_widget(form.mail) }}
					</div>

					<div class="form-group">
						<div class="form-error">
							{{ form_errors(form.birth) }}
						</div>
						{{ form_label(form.birth) }}
						{{ form_widget(form.birth) }}
					</div>

					<div class="form-group">
						<div class="form-error">
							{{ form_errors(form.password) }}
						</div>
						{{ form_label(form.password) }}
						{{ form_widget(form.password) }}
					</div>

					<div class="form-group">
						<div class="form-error">
							{{ form_errors(form.places) }}
						</div>
						{{ form_label(form.places) }}
						{{ form_widget(form.places) }}
					</div>
					<div class="row justify-content-center">
						{{ form_row(form.Submit, { 'attr': { 'class': 'btn-outline-primary' } }) }}
					</div>
					{{ form_rest(form) }}
				</form>
			</article>
			<!-- card-body end .// -->
			<div class="border-top card-body text-center">Vous avez un compte ?
				<a href="{{ path('app_login') }}">Se connecter</a>
			</div>
		</div>
		<!-- card.// -->
	</html>
{% endblock %}
